/* public/css/auth.css */
body {
	background-color: #f8f9fa;
}

.card {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header, .card-footer {
	background-color: #fff;
}

.btn-primary {
	background-color: #007bff;
	border-color: #007bff;
}